In [1]:
from sklearn.preprocessing import LabelEncoder

import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

import pandas as pd

In [2]:
encoder = LabelEncoder()
pd.options.mode.chained_assignment = None

# Data 가지고 오기

In [3]:
genre_gn_all = pd.read_json('./Data/genre_gn_all.json', typ = 'series', encoding='utf-8')
song_meta = pd.read_json('./Data/song_meta.json', encoding='utf-8')
val= pd.read_json('./Data/val.json', encoding='utf-8', typ = 'frame')
train = pd.read_json('./Data/train.json', encoding='utf-8')
test = pd.read_json('./Data/test.json', encoding='utf-8')

# 데이터 형태 분석

In [4]:
# 장르코드 : gnr_code, 장르명 : gnr_name
genre_gn_all = pd.DataFrame(genre_gn_all, columns = ['gnr_name']).reset_index().rename(columns = {'index' : 'gnr_code'})
genre_gn_all.head(3)

  gnr_code gnr_name
0   GN0100      발라드
1   GN0101   세부장르전체
2   GN0102      '80

In [5]:
song_meta.head(3)

,album_id,album_name,artist_id_basket,artist_name_basket,id,issue_date,song_gn_dtl_gnr_basket,song_gn_gnr_basket,song_name
0,2255639,불후의 명곡 - 7080 추억의 얄개시대 팝송베스트,[2727],[Various Artists],0,20140512,[GN0901],[GN0900],Feelings
1,376431,"Bach : Partitas Nos. 2, 3 & 4",[29966],[Murray Perahia],1,20080421,"[GN1601, GN1606]",[GN1600],"Bach : Partita No. 4 In D Major, BWV 828 - II...."
2,4698747,Hit,[3361],[Peter Gabriel],2,20180518,[GN0901],[GN0900],Solsbury Hill (Remastered 2002)

In [6]:
val.head(3)

,id,like_cnt,plylst_title,songs,tags,updt_date
0,118598,1675,,"[373313, 151080, 275346, 696876, 165237, 52593...",[],2019-05-27 14:14:33.000
1,131447,1,앨리스테이블,[],[],2014-07-16 15:24:24.000
2,51464,62,,"[529437, 516103, 360067, 705713, 226062, 37089...",[],2008-06-21 23:26:22.000

In [7]:
train.head(3)

,id,like_cnt,plylst_title,songs,tags,updt_date
0,61281,71,여행같은 음악,"[525514, 129701, 383374, 562083, 297861, 13954...",[락],2013-12-19 18:36:19.000
1,10532,1,요즘 너 말야,"[432406, 675945, 497066, 120377, 389529, 24427...","[추억, 회상]",2014-12-02 16:19:42.000
2,76951,17,"편하게, 잔잔하게 들을 수 있는 곡.-","[83116, 276692, 166267, 186301, 354465, 256598...","[까페, 잔잔한]",2017-08-28 07:09:34.000

In [8]:
test.head(3)

,id,like_cnt,plylst_title,songs,tags,updt_date
0,70107,6,,"[398985, 449403, 411543, 528044, 143048, 98020...",[],2012-09-29 01:57:26.000
1,7461,0,,"[196298, 269984, 267805, 175867, 529244, 63825...","[나만의Best3, 인디아티스트들의추천음악]",2019-12-17 14:06:45.000
2,90348,21,,"[273433, 331003, 68432, 411659, 117793, 616860...",[드라이브],2015-05-23 10:44:48.000

# Info 보기

In [9]:
song_meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 707989 entries, 0 to 707988
Data columns (total 9 columns):
album_id                  707989 non-null int64
album_name                707985 non-null object
artist_id_basket          707989 non-null object
artist_name_basket        707989 non-null object
id                        707989 non-null int64
issue_date                707989 non-null int64
song_gn_dtl_gnr_basket    707989 non-null object
song_gn_gnr_basket        707989 non-null object
song_name                 707989 non-null object
dtypes: int64(3), object(6)
memory usage: 48.6+ MB

In [10]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115071 entries, 0 to 115070
Data columns (total 6 columns):
id              115071 non-null int64
like_cnt        115071 non-null int64
plylst_title    115071 non-null object
songs           115071 non-null object
tags            115071 non-null object
updt_date       115071 non-null object
dtypes: int64(2), object(4)
memory usage: 5.3+ MB

In [11]:
# 곡 아이디(id)와 대분류 장르코드 리스트(song_gn_gnr_basket) 추출
song_gnr_map = song_meta.loc[:, ['id', 'song_gn_gnr_basket']]

# unnest song_gn_gnr_basket
song_gnr_map_unnest = np.dstack(
    (
        np.repeat(song_gnr_map.id.values, list(map(len, song_gnr_map.song_gn_gnr_basket))), 
        np.concatenate(song_gnr_map.song_gn_gnr_basket.values)
    )
)

# unnested 데이터프레임 생성 : song_gnr_map
song_gnr_map = pd.DataFrame(data = song_gnr_map_unnest[0], columns = song_gnr_map.columns)
song_gnr_map['id'] = song_gnr_map['id'].astype(str)
song_gnr_map.rename(columns = {'id' : 'song_id', 'song_gn_gnr_basket' : 'gnr_code'}, inplace = True)

# unnest 객체 제거
del song_gnr_map_unnest

In [12]:
song_gnr_map.head(3)

  song_id gnr_code
0       0   GN0900
1       1   GN1600
2       2   GN0900

# 데이터 전처리

# 장르 처리

In [13]:
# 상세 장르 코드
song_meta.T[6:-2].T.head(3)

  song_gn_dtl_gnr_basket
0               [GN0901]
1       [GN1601, GN1606]
2               [GN0901]

In [14]:
encoder.fit(genre_gn_all.gnr_code)
tmp = pd.DataFrame(encoder.transform(genre_gn_all.gnr_code))

In [15]:
tmp = tmp.rename(columns={
    '0': 'gnr_code'
})

gnr_code = genre_gn_all['gnr_code']

genre_gn_all['gnrOneHot'] = tmp

genre_gn_all.head(3)

  gnr_code gnr_name  gnrOneHot
0   GN0100      발라드          0
1   GN0101   세부장르전체          1
2   GN0102      '80          2

# Tag 처리

In [16]:
from sklearn import preprocessing

# 플레이리스트 아이디(id)와 매핑된 태그(tags) 추출
plylst_tag_map = train[['id', 'tags']]

# unnest tags
plylst_tag_map_unnest = np.dstack(
    (
        np.repeat(plylst_tag_map.id.values, list(map(len, plylst_tag_map.tags))), 
        np.concatenate(plylst_tag_map.tags.values)
    )
)

# unnested 데이터프레임 생성 : plylst_tag_map
plylst_tag_map = pd.DataFrame(data = plylst_tag_map_unnest[0], columns = plylst_tag_map.columns)
plylst_tag_map['id'] = plylst_tag_map['id'].astype(str)

# unnest 객체 제거
del plylst_tag_map_unnest

tags = plylst_tag_map.tags

tags.T.tail(3)


encoder.fit(tags)
tmp = pd.DataFrame(encoder.transform(plylst_tag_map.tags))

plylst_tag_map['tagEncoding'] = tmp

del tmp

plylst_tag_map.head(3)

      id tags  tagEncoding
0  61281    락        10503
1  10532   추억        24659
2  10532   회상        28557

In [17]:
df = pd.DataFrame({"tags":plylst_tag_map.tags, "tagEncoding":plylst_tag_map.tagEncoding})

name_idx_map = { r['tags']:r['tagEncoding'] for _, r in df.iterrows() }

data = pd.Series(train.tags)

train['tagsEncoding'] = data.apply(lambda e: [ name_idx_map[k] for k in e ])

del data, name_idx_map
train.head()

,id,like_cnt,plylst_title,songs,tags,updt_date,tagsEncoding
0,61281,71,여행같은 음악,"[525514, 129701, 383374, 562083, 297861, 13954...",[락],2013-12-19 18:36:19.000,[10503]
1,10532,1,요즘 너 말야,"[432406, 675945, 497066, 120377, 389529, 24427...","[추억, 회상]",2014-12-02 16:19:42.000,"[24659, 28557]"
2,76951,17,"편하게, 잔잔하게 들을 수 있는 곡.-","[83116, 276692, 166267, 186301, 354465, 256598...","[까페, 잔잔한]",2017-08-28 07:09:34.000,"[7398, 22262]"
3,147456,33,크리스마스 분위기에 흠뻑 취하고 싶을때,"[394031, 195524, 540149, 287984, 440773, 10033...","[연말, 눈오는날, 캐럴, 분위기, 따듯한, 크리스마스캐럴, 겨울노래, 크리스마스,...",2019-12-05 15:15:18.000,"[19178, 8617, 25157, 13828, 10191, 25625, 5797..."
4,27616,9,추억의 노래 ㅋ,"[159327, 553610, 5130, 645103, 294435, 100657,...",[댄스],2011-10-25 13:54:56.000,[9247]

In [18]:
train['tags'] = train['tags'].fillna('')
train.head(2)

,id,like_cnt,plylst_title,songs,tags,updt_date,tagsEncoding
0,61281,71,여행같은 음악,"[525514, 129701, 383374, 562083, 297861, 13954...",[락],2013-12-19 18:36:19.000,[10503]
1,10532,1,요즘 너 말야,"[432406, 675945, 497066, 120377, 389529, 24427...","[추억, 회상]",2014-12-02 16:19:42.000,"[24659, 28557]"

In [27]:
from sklearn.feature_extraction.text import CountVectorizer

def dummy(doc):
    return doc

tfidf = CountVectorizer(
    tokenizer=dummy,
    preprocessor=dummy,
) 
tfidf_matrix = tfidf.fit_transform(train.tags)
# overview에 대해서 tf-idf 수행
print(tfidf_matrix.shape)

(115071, 29160)

In [25]:
tfidf.get_feature_names()

['',
 '00',
 '007',
 '007시리즈',
 '00s',
 '00년',
 '00년대',
 '00년대노래',
 '00년대발라드',
 '00년도노래',
 '00년생',
 '01',
 '0129',
 '015B',
 '02',
 '03',
 '03월',
 '04',
 '0416',
 '0421',
 '04_29',
 '05',
 '0515',
 '06',
 '07',
 '0802',
 '08월',
 '0930',
 '09월',
 '0channel',
 '0개국어',
 '0살',
 '0시',
 '1',
 '10',
 '100',
 '100000',
 '1000곡',
 '1000만관객동원',
 '1000칼로리',
 '100곡',
 '100번',
 '100선',
 '100억짜리피쳐링',
 '100위',
 '100주년',
 '101',
 '10cm',
 '10곡',
 '10년간의_기록',
 '10년대',
 '10년전',
 '10대',
 '10대가10대에게',
 '10대감성',
 '10대들의우상',
 '10대의영원할것같았던순수함',
 '10만',
 '10만개',
 '10분전',
 '10살',
 '10센치',
 '10월',
 '10월29일',
 '10월4주차',
 '10월_1주차',
 '10월_2주차',
 '10월_3주차',
 '10월_4주차',
 '10월마지막힙합',
 '10월음악',
 '10월힙합',
 '10주',
 '10주년',
 '10주년축하해',
 '10초',
 '10화',
 '11',
 '110bpm',
 '1124',
 '113',
 '11곡',
 '11시',
 '11월',
 '11월11일',
 '11월1일',
 '11월1주차',
 '11월20일',
 '11월3주차',
 '11월4주차',
 '11월_2주차',
 '11월_3주차',
 '11월_컴백',
 '11월넷째주',
 '11월둘째주',
 '11일',
 '11화',
 '12',
 '1218',
 '1222',
 '1224',
 '1225',
 '123',
 '1248',
 '127',
 '128',
 '128BPM',
 '128e980',
 '128비트',
 '12곡',
 '12월',
 '12월1주차',
 '12월25일',
 '12월2주차',
 '12월3주차',
 '12월_2주차',
 '12월_5주차',
 '12월둘째주',
 '12월셋째주',
 '12월에',
 '12월첫주',
 '12화',
 '13',
 '13055',
 '1324',
 '13명의',
 '13월',
 '13학번',
 '13화',
 '14',
 '140416',
 '1414',
 '1415',
 '1485',
 '14화',
 '14회',
 '15',
 '15곡',
 '16',
 '160427',
 '160504',
 '16강',
 '16년_12월',
 '17',
 '170807',
 '171218',
 '17년_10월',
 '17년_1월',
 '17년_3월',
 '17년_5월',
 '17주년',
 '18',
 '180113',
 '180114',
 '180222',
 '183',
 '1855',
 '189214',
 '18번',
 '18번곡',
 '19',
 '1900년',
 '190113',
 '190820',
 '191218',
 '191229',
 '191231',
 '1920',
 '1923경성에서',
 '1930',
 '1930s',
 '1930년대',
 '1940',
 '1940년대',
 '1950',
 '1950_60',
 '1950년',
 '1950년대',
 '1958',
 '1960',
 '1960_1970',
 '1960_1990',
 '1960_70',
 '1960년대',
 '1966년',
 '1970',
 '1970_80',
 '1970년',
 '1970년대',
 '1970년대팝',
 '1972년',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977년',
 '1980',
 '1980_2019',
 '1980_90',
 '1980spop',
 '1980년대',
 '1980년대발라드',
 '1980년대팝',
 '1985',
 '1987',
 '1988',
 '1989',
 '1989년',
 '1990',
 '1990년',
 '1990년대',
 '1990년대드라마',
 '1990년대발라드',
 '1990년대생들',
 '1990년대알앤비',
 '1990년부터',
 '1991',
 '1992',
 '1994',
 '1997',
 '1997팝송',
 '19980324',
 '19금',
 '19금뺀',
 '19금아님',
 '19금음원',
 '19금주의',
 '19금포함',
 '19세',
 '19세기후반',
 '19세미만청취불가',
 '19제외',
 '1MILLION',
 '1llionaire',
 '1st',
 '1년',
 '1년반',
 '1도없는',
 '1등',
 '1등가즈아',
 '1박2일',
 '1번트랙부터너무좋은',
 '1병더',
 '1봄에',
 '1살',
 '1세대',
 '1세대걸그룹',
 '1세대아이돌',
 '1세대한국힙합',
 '1세대힙합',
 '1시간',
 '1시간무한스밍',
 '1시간플레이리스트',
 '1억',
 '1억뷰',
 '1억스밍',
 '1월',
 '1월1일',
 '1월3주차',
 '1월4주차',
 '1월7일',
 '1월_1주차',
 '1월_2주차',
 '1월_3주차',
 '1월_4주차',
 '1월_신곡_모음',
 '1월둘째주',
 '1월셋째주',
 '1월신곡',
 '1월신곡추천',
 '1월첫째주',
 '1월추천',
 '1위',
 '1위곡',
 '1위못했지만',
 '1위베토벤3번영웅',
 '1일',
 '1일1클래식1기쁨',
 '1일_1클래식',
 '1일_1클래식_1기쁨',
 '1주',
 '1차_라인업',
 '1초컷',
 '1탄',
 '1탑',
 '1퍼센트의어떤것',
 '1플러스1은제로',
 '1화',
 '2',
 '20',
 '2000',
 '2000_10',
 '2000s',
 '2000년',
 '2000년대',
 '2000년대가요',
 '2000년대드라마',
 '2000년대록',
 '2000년대명곡들',
 '2000년대발라드',
 '2000년대아이돌',
 '2000년대알앤비',
 '2000년대음악',
 '2000년대이후',
 '2000년대초',
 '2000년대초반',
 '2000년대초반약간있음',
 '2000년대클럽노래',
 '2000년대팝',
 '2000년대팝송',
 '2000년대히트곡',
 '2000년대힙합',
 '2000년데초',
 '2000년이전',
 '2000년이후',
 '2000년초',
 '2000년힙합',
 '2000초반',
 '200101',
 '200102',
 '200106',
 '200107',
 '200108',
 '200114',
 '200115',
 '200116',
 '200117',
 '200122',
 '200123',
 '200128',
 '200130',
 '200131',
 '2002',
 '200203',
 '200205',
 '200206',
 '200207',
 '200210',
 '200211',
 '200212',
 '200213',
 '200215',
 '200217',
 '200219',
 '200220',
 '200221',
 '200224',
 '200225',
 '200227',
 '200302',
 '200303',
 '200304',
 '200305',
 '200309',
 '200310',
 '200312',
 '200313',
 '200317',
 '200318',
 '200319',
 '200323',
 '200324',
 '200325',
 '200326',
 '200330',
 '200331',
 '2004',
 '200401',
 '200402',
 '200403',
 '200406',
 '200407',
 '200408',
 '200409',
 '200414',
 '200416',
 '200417',
 '200420',
 '2004년',
 '2005년',
 '2007',
 '2007년데뷔',
 '2007년부터',
 '2008',
 '2008년',
 '2009',
 '2009년',
 '2009년까지',
 '2009팝송',
 '2010',
 '2010s',
 '2010년',
 '2010년까지의',
 '2010년노래모음',
 '2010년대',
 '2010년대가요',
 '2010년대댄스',
 '2010년대드라마',
 '2010년대메탈',
 '2010년대음악',
 '2010년대인디',
 '2010년초반',
 '2011',
 '2011년',
 '2012',
 '2012년',
 '2013',
 '2013년',
 '2014',
 '2014_CCM_총정리',
 '2014년',
 '2015',
 '20150322화1930',
 '2015년',
 '2015상반기결산',
 '2016',
 '2016VMA',
 '2016_CCM_총정리',
 '2016_그린플러그드_라인업',
 '2016_마지막_히든트랙',
 '2016_멜론뮤직어워드',
 '2016_연말결산',
 '2016pop',
 '2016교향악축제',
 '2016년',
 '2016년5월',
 '2016년_상반기_일렉튠',
 '2016년까지',
 '2016년도',
 '2016년도1분기',
 '2016년올해의음악',
 '2016년해외신인아티스트',
 '2016리우올림픽',
 '2016멜로디포레스트캠프',
 '2016캐롤',
 '2016피아노앨범',
 '2016화제의앨범',
 '2017',
 '201709',
 '20171127',
 '2017EMA',
 '2017SS',
 '2017VMA',
 '2017_12_01부터',
 '2017_12_17까지',
 '2017_AMA',
 '2017pop',
 '2017가요명곡',
 '2017결산',
 '2017년',
 '2017년_1월_2주차',
 '2017년_1월_3주차',
 '2017년_2월_1주차',
 '2017년_2월_2주차',
 '2017년_2월_3주차',
 '2017년_2월_4주차',
 '2017년도',
 '2017년드라마',
 '2017년알앤비',
 '2017년여자아이돌',
 '2017년을보내며',
 '2017년힙합',
 '2017더크라이그라운드',
 '2017도',
 '2017멜론뮤직어워드',
 '2017빈필하모닉여름음악회',
 '2017상반기',
 '2017월디페',
 '2017크루셜스타별밤콘서트',
 '2017힙합',
 '2018',
 '2018VMA',
 '2018_2019',
 '2018ccm',
 '2018겨울',
 '2018결산',
 '2018그래미',
 '2018년',
 '2018년여름대비',
 '2018년표',
 '2018노래',
 '2018명곡',
 '2018베스트',
 '2018브릿어워드',
 '2018서재페',
 '2018수능',
 '2018여름',
 '2018팝송',
 '2018펜타포트',
 '2018하반기',
 '2019',
 '20191003',
 '201999',
 '2019MMA',
 '2019Tour',
 '2019UMF',
 '2019VMA',
 '2019_그래미',
 '2019_여름도_행복하게',
 '2019bmwz4계약',
 '2019theend',
 '2019가요계',
 '2019결산',
 '2019그린플러그드',
 '2019내한',
 '2019년',
 '2019년결산',
 '2019년기대주',
 '2019년내한',
 '2019년베스트인기클래식',
 '2019년상반기',
 '2019년은',
 '2019년첫플레이리스트',
 '2019년클래식내한아티스트',
 '2019년히트곡리스트',
 '2019마마',
 '2019멜론뮤직어워드',
 '2019베스트',
 '2019새해',
 '2019서재페',
 '2019스펙트럼',
 '2019여름',
 '2019연말정산',
 '2019추천인기클래식',
 '2019코첼라',
 '2019페스티벌',
 '2019펜타포트',
 '2019하반기',
 '2019홀리데이랜드페스티벌',
 '2019히트곡',
 '2019힙합플레이야페스티벌',
 '2020',
 '20200322',
 '2020s',
 '2020년',
 '2020년걱정노노',
 '2020년드라마',
 '2020패션위크',
 '2020히트곡',
 '2026년',
 '2030',
 '2048BritAward',
 '20s',
 '20곡',
 '20대',
 '20대_국회의원선거',
 '20대의패기와사랑그리고열정',
 '20대중반',
 '20대추억의노래',
 '20대후반',
 '20살',
 '20세기',
 '20주년',
 '20주년명작록팝',
 '21',
 '21Savage',
 '21세기',
 '21세기컨트리',
 '21세기포크',
 '21세비지',
 '22',
 '22세기',
 '2426',
 '25',
 '25주년',
 '27Club',
 '27살',
 '27클럽',
 '2AM',
 '2BIC',
 '2Cellos',
 '2Dutch',
 '2NB',
 '2PM',
 '2Pac',
 '2_5세대',
 '2ne1',
 '2play',
 '2등',
 '2번째',
 '2부',
 '2살',
 '2세대',
 '2세대걸그룹',
 '2세대아이돌',
 '2시',
 '2언리미티드',
 '2월',
 '2월14일',
 '2월1주차',
 '2월3주차',
 '2월4주차',
 '2월Yasisi인디뮤직',
 '2월_1주차',
 '2월_2주차',
 '2월_3주차',
 '2월_4주차',
 '2월달',
 '2월마지막주',
 '2월신곡',
 '2월출시',
 '2인자들',
 '2인표',
 '2주',
 '2차라인업',
 '2탄',
 '2팍',
 '2화',
 '3',
 '30',
 '3040',
 '3040세대',
 '30곡다조아요',
 '30년대',
 '30대',
 '30대가요',
 '30대가좋아하는',
 '30대댄스가요',
 '30대를위한힙합',
 '30대여자',
 '30대의그리움과현실옛추억들',
 '30대초반',
 '30대추억',
 '30대추억의노래',
 '30분만',
 '30분씩',
 '30주년',
 '3105',
 '316',
 '31곡',
 '33',
 '333',
 '335',
 '33분',
 '3456월',
 '365fresh',
 '365일',
 '386',
 '3D촬영기법',
 '3flow',
 '3pm',
 '3가지',
 '3기',
 '3년',
 '3년동안',
 '3대',
 '3대500',
 '3대디바',
 '3대오페라',
 '3대테너포함',
 '3분만자려다30분잔다',
 '3살',
 '3살6살',
 '3세대',
 '3세대걸그룹',
 '3옥',
 '3월',
 '3월14일',
 '3월2주차',
 '3월3주차',
 '3월4주차',
 '3월5주차',
 '3월_1주차',
 '3월_2주차',
 '3월_3주차',
 '3월_4주차',
 '3월_5주차',
 '3월마지막주',
 '3월셋째주',
 '3월신곡',
 '3월이',
 '3월첫째주',
 '3인조',
 '3일',
 '3차예선',
 '3초',
 '3화',
 '4',
 '40',
 '40027091',
 '4050',
 '4060',
 '406호프로젝트',
 '409MHZ',
 '40년대',
 '40대',
 '40대50대',
 '416',
 '43사건',
 '455',
 '47',
 '47화',
 '4AD',
 '4CA2020',
 '4CHRIST',
 '4CHRISTSHOW',
 '4D',
 '4U',
 '4ij',
 '4minute',
 '4thAvenue',
 '4계절',
 '4대천왕',
 '4명다심지어이쁨',
 '4번째콘서트',
 '4살',
 '4세동요',
 '4슴',
 '4시',
 '4월',
 '4월16일',
 '4월1주차',
 '4월2주차',
 '4월3주차',
 '4월4주차',
 '4월5일내한',
 '4월_13일_꼭_투표하세요',
 '4월_1주차',
 '4월_2주차',
 '4월_3주차',
 '4월_4주차',
 '4월과5월',
 '4월노래',
 '4월신곡',
 '4월은너의거짓말',
 '4월의노래',
 '4월의마지막',
 '4월의뮤지션',
 '4주',
 '4중주단',
 '4중창',
 '4차원',
 '4천개',
 '4호선',
 '4화',
 '5',
 '50',
 '500곡이상',
 '500일의썸머',
 '5060',
 '50Cent',
 '50s',
 '50가지의그림자',
 '50곡',
 '50년대',
 '50대가',
 '50센트',
 '50주년',
 '518민주화운동',
 '5252',
 '529곡',
 '52번가',
 '54',
 '55',
 '55555',
 '56',
 '5Secondofsummer',
 '5TARDIUM',
 '5_27_SAT',
 '5secondsofsummer',
 '5sos',
 '5tadium',
 '5년동안',
 '5만',
 '5번출구',
 '5살',
 '5스타디움',
 '5월',
 '5월12일',
 '5월1주차',
 '5월2주차',
 '5월3주차',
 '5월4주차',
 '5월5일',
 '5월5주차',
 '5월_1주차',
 '5월_2주차',
 '5월_3주차',
 '5월_4주차',
 '5월넷째주',
 '5월의',
 '5월의신부',
 '5월하늘에',
 '5인조',
 '5주우승',
 '5초',
 '5화',
 '6',
 '6070',
 '60s',
 '60sFrenchpop',
 '60년대',
 '60년대록',
 '60년대찬가',
 '60분',
 '60세',
 '61회',
 '62회',
 '66',
 '669',
 '66을',
 '6744',
 '6ix9ine',
 '6년만에',
 '6번째앨범',
 '6살',
 '6언더그라운드',
 '6월',
 '6월1주',
 '6월1주차',
 '6월2주',
 '6월2주차',
 '6월3주차',
 '6월4주차',
 '6월_1주차',
 '6월_2주차',
 '6월_3주차',
 '6월_5주차',
 '6월둘째주',
 '6월의',
 '6월첫째주',
 '6주기',
 '6화',
 '7',
 '70',
 '7080',
 '708090',
 '708090년대',
 '7080pop',
 '7080가요',
 '7080노래',
 '7080발라드',
 '7080세대',
 '7080올드팝',
 '7080일본곡',
 '70s',
 '70년',
 '70년대',
 '70년대독일록',
 '70년대록',
 '70년대생',
 '70년대추천곡',
 '70년대포크',
 '70년대한국록',
 '74584321321',
 '764',
 '77',
 '7778',
 '78',
 '7obu',
 '7ring',
 '7rings',
 '7years_내스타일',
 '7대불가사의',
 '7명',
 '7명결승전',
 '7번째내가죽던날',
 '7살',
 '7연속',
 '7월',
 '7월11일_오픈',
 '7월1주차',
 '7월2주차',
 '7월3주차',
 '7월_1주차',
 '7월_2주차',
 '7월페스티벌',
 '7화',
 '8',
 '80',
 '808',
 '8090',
 '8090년대노래',
 '8090댄스',
 '8090락',
 '8090발라드',
 '8090세대',
 '8090음악',
 '8090히트송',
 '80s',
 '80년가요',
 '80년대',
 '80년대가요',
 '80년대감성',
 '80년대댄스팝',
 '80년대록',
 '80년대말락',
 '80년대번안가요',
 '80년대생',
 '80년대영화',
 '80년대영화OST',
 '80년대팝',
 '80년대팝송',
 '80년대한국록',
 '80년대힙합',
 '80년생',
 '80년인기가요',
 '80힙합',
 '81',
 '8154',
 '8163',
 '826',
 '8281',
 '82년생',
 '85곡',
 '87년생',
 '87년생감성',
 '88IT',
 '88rising',
 '88년도',
 '88년생',
 '88올림픽',
 '8_15',
 '8bit',
 '8bitElectro',
 '8mile',
 '8마일',
 '8분의12',
 '8분의6',
 '8비트',
 '8살',
 '8시간',
 '8월',
 '8월16일',
 '8월21일',
 '8월2주차',
 '8월3주차',
 '8월5주차',
 '8월_1주차',
 '8월_3주차',
 '8월_4주차',
 '8월빌보드',
 '8월의_낮',
 '8화',
 '9',
 '90',
 '9000',
 '9000년대명곡',
 '9020',
 '90s',
 '90sRnB',
 '90년',
 '90년대',
 '90년대JPOP',
 '90년대_댄스',
 '90년대가요',
 '90년대노래',
 '90년대노래모음',
 '90년대노래있음',
 '90년대대중가요',
 '90년대댄스',
 '90년대댄스곡',
 '90년대디바',
 '90년대말',
 '90년대명곡',
 '90년대발라드',
 '90년대부터',
 '90년대생',
 '90년대생들의',
 '90년대소환',
 '90년대스타',
 '90년대아날로그',
 '90년대알앤비',
 '90년대음악',
 '90년대인기가요',
 '90년대중후반생들도들어봤다',
 '90년대초팝',
 '90년대팝',
 '90년대팝기분전환',
 '90년대팝락',
 '90년대후반',
 '90년대히트곡',
 '90년대힙합',
 '90년생',
 '90년초락',
 '90년초중고팝',
 '90힙합',
 '918',
 '91은없음',
 '92914',
 '92년생',
 '92라인',
 '93년생',
 '94년생',
 '94년생기준',
 '94듀오',
 '95년생',
 '97년생',
 '98',
 '98년생',
 '999sound',
 '99년생',
 '9TEEN',
 '9년동안',
 '9명의천사',
 '9살',
 '9시간',
 '9연승',
 '9월',
 '9월2주차',
 ...]

In [30]:
# from sklearn.metrics.pairwise import linear_kernel
# cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

# indices = pd.Series(data.index, index=data['tags']).drop_duplicates()
# print(indices.head())

In [34]:
# from sklearn.metrics.pairwise import cosine_similarity

# genre_sim = cosine_similarity(tfidf_matrix, tfidf_matrix, batch_size = 40)
# print(genre_sim.shape)
# print(genre_sim[:2])

In [57]:
# tmp = np.array(train.tags)
# train.songs.shape

# from tensorflow.keras.layers import Input, Dense
# from tensorflow.keras.models import Model

# # MNIST input 28 rows * 28 columns = 784 pixels
# input_img = Input(shape=(7,))
# # encoder
# encoder1 = Dense(128, activation='sigmoid')(input_img)
# encoder2 = Dense(3, activation='sigmoid')(encoder1)
# # decoder
# decoder1 = Dense(128, activation='sigmoid')(encoder2)
# decoder2 = Dense(7, activation='sigmoid')(decoder1)

# # this model maps an input to its reconstruction
# autoencoder = Model(inputs=input_img, outputs=decoder2)

# autoencoder.compile(optimizer='adam', loss='binary_crossentropy')

In [58]:
# autoencoder.fit(train, train,
#                 epochs=5,
#                 batch_size=32,
#                 shuffle=True,
#                 validation_data=(test.tags, test.tags))

In [ ]:
def pearsonR(s1, s2):
    s1_c = s1 - s1.mean()
    se_c = s2 - s2.mean()
    return np.sum(s1_c * s2_c) / np.sqrt(np.sum(s1_c ** 2) * np.sum(s2_c ** 2))

# def rec

def cos_sim(A, B):
       return np.dot(A, B)/(norm(A)*norm(B))

In [ ]:
# print(cos_sim(genre_mat, genre_mat))

In [62]:
import keras

keras.losses.CosineSimilarity(
    axis=-1, reduction=losses_utils.ReductionV2.AUTO, name='cosine_similarity'
)

cosine_loss = tf.keras.losses.CosineSimilarity(axis=1)

model = tf.keras.Model(tfidf_matrix, tfidf_matrix)
model.compile('sgd', loss=tf.keras.losses.CosineSimilarity(axis=1))

Using TensorFlow backend.

AttributeError: module 'keras.losses' has no attribute 'CosineSimilarity'

# 학습

In [ ]:
df = pd.DataFrame({"name":["발", "팝", "팔"], "onehot":[0,1,2]})
df

In [ ]:
name_idx_map = { r['name']:r['onehot'] for _, r in df.iterrows() }
name_idx_map

In [ ]:
data = pd.Series([ ['발'], ['팝', '팔']])
data.dtype

In [ ]:
data.apply(lambda e: [ name_idx_map[k] for k in e ])